<h2 class="center">GG WP
  <span class="small"> - DRAG & DROP</span>
</h2>

<h3>Lista de Profissionais</h3>
<div class="police-list">
  <div class="item" *ngFor="let item of soliderList" [dragDirective]='item' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event)"
    (startDrag)="startDrag(item)">
    <img src="/assets/img/police.png" alt="profissional">
    <h4 class="center">{{item.name}}</h4>
    <h5 class="center">{{item.raca}}</h5>
  </div>
</div>

<div dropDirective (dropEvent)="addDropItem($event)" (dropEventMouse)="dropEventMouse($event)" (dragenterEvent)="dragEnter($event)"
  (dragleaveEvent)="dragLeave()" class="droppable" [dropHighlight]="'highlight'" (dragoverMouseEvent)="dragoverMouse($event)">

  <div class="progresso">
    <div *ngFor="let item of solidersDropped"></div>
  </div>
  <img class="car" src="/assets/img/police-car.png" alt="veiculo">

  <ul>
    <li *ngFor="let item of solidersDropped">
      <h4 class="center">
        {{item.name}}
        <span class="small"> - {{item.raca}}</span>
      </h4>
    </li>
  </ul>

</div>

<!-- mapas -->
<h2 class="center">
  GG WP <span class="small"> - Manipulando polígonos no mapa</span>
</h2>
<app-map-draw></app-map-draw>