.police-list {
    height: 200px;

    .item {
        display: inline-block;
        margin: 10px 15px;
        border-radius: 8px;
        padding: 7px;
        background-color: rgb(46, 129, 67);
        color: #fff;
        cursor: -webkit-grab;
    
        img {
            height: 100px;
            display: block;
            margin: 5px auto;
        }
    
        h4, h5 {
            margin: 5px auto;
        }
    }
}

.droppable {
    padding: 10px;
    border: 2px solid rgb(46, 129, 67);
    width: 70%;
    margin: 50px auto;
    position: relative;

    ul {
        position: absolute;
        right: 20px;
        top: 10px;
    }

    img.car {
        height: 200px;
    }

    .progresso {
        border: 1px solid #cf4915;
        border-radius: 6px;
        padding: 2px;
        display: flex;
        height: 30px;
        width: 200px;

        div {
            width: 25%;
            height: 100%;
            background-color: rgb(46, 129, 67);
            margin: 0 1%;
        }
    }
}